<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="header">
        <h2>Update Password</h2>
        <h3> {{ message }}</h3>
    </div>
    </div>

        <form action="/website/update" method="POST">

        <!-- username //-->
        <div class="input-group">
            <label for="name">Username</label>
            <input type="text" name="Username">
        </div>

        <!-- New Password //-->
        <div class="input-group">
            <label for="Password">New Password</label>
            <input type="password" name="NewPassword">
        </div>

        <!-- Confirm New Password //-->
        <div class="input-group">
            <label for="New_Password">Confirm New Password</label>
            <input type="password" name="ConfirmNewPassword">
        </div>

        <!-- Button //-->
        <div class="input-group">
            <button type="submit" name="change_password" class="btn">Change Password</button>
        </div>

        <p>Go to Sign In?<a href="http://127.0.0.1:8000/website/login">Sign in</a></p>
    </form>
</body>
</html>